<h1>Admin Area</h1>

{{#if user}}
    <div>
      <h2>Hello {{ user.username }}</h2>
      <a href="/">Index</a>
      <a href="/logout">Logout</a>
      <a href="/user/{{user._id}}/edit">Edit my profile</a>
      <a href="/signup">Create employee</a>
    </div>
{{else}}
  <h2>No user found!</h2>
{{/if}}